<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <% if user_signed_in? %>
        <div class="admin">
          <% if can? :manage, @users %>
            <%= link_to "Add User", new_user_path %>
          <% end %>
          <%= link_to "My Account", edit_user_registration_path %>
          <%= link_to "logout", destroy_user_session_path %>
        </div>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
